<mat-card class="compact no-select">
  <div class="padding">
    <h3 class="no-margin flex flex-align-vertical">
      <span>
        De <span class="help theme-fg-accent" matTooltip="Wat is een Epic?">epics</span>
        waar op dit moment aan worden gewerkt door
        <span class="team theme-fg-temp">{{ config.boards[board.id].displayName }}</span>
      </span>
      <span class="flex-spacer"></span>
      <button class="more" matTooltip="Wat is een epic?" mat-icon-button>
        <mat-icon>help</mat-icon>
      </button>
    </h3>
  </div>
  <app-card-list
    [boardId]="board.id"
    [layout]="'row'"
    [type]="type"
    [lane]="lane"
    [limitAmount]="limitAmount">
  </app-card-list>
  <div class="button-container">
    <button class="more" mat-raised-button color="primary" routerLink="/doing">Weergeef alle epics <span class="desktop-only">van <span style="font-weight: bold">{{ config.boards[board.id].displayName }}</span></span> in doing >></button>
  </div>
</mat-card>
