<h2 mat-dialog-title>{{ title }}</h2>

<mat-dialog-content>
  <div *ngIf="data.dialogType === 'help'">
    <app-dialog-content-help [data]="data"></app-dialog-content-help>
  </div>
  <div *ngIf="data.dialogType === 'card'">
    <app-dialog-content-card [data]="data"></app-dialog-content-card>
  </div>
  <div *ngIf="data.dialogType === 'person'">
    <app-dialog-content-person [data]="data"></app-dialog-content-person>
  </div>
  <div *ngIf="data.dialogType === 'contact'">
    <app-dialog-content-contact [data]="data"></app-dialog-content-contact>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button (click)="close()">{{ data.closeButtonText }}</button>
  <button mat-raised-button color="primary" (click)="submit()" *ngIf="data.dialogType === 'contact'">Save</button>
</mat-dialog-actions>
