<mat-form-field *ngIf="multiple; else singular">
  <mat-label *ngIf="placeholder">Teams</mat-label>
  <mat-select [(ngModel)]="selectedTeams"
              (ngModelChange)="onTeamChanges()"
              multiple>
    <mat-option *ngFor="let boardKey of teams" [value]="boardKey">
      {{ config.boards[boardKey].displayName }}
    </mat-option>
  </mat-select>
</mat-form-field>

<ng-template #singular>
  <mat-form-field>
    <mat-label *ngIf="placeholder">Teams</mat-label>
    <mat-select [(ngModel)]="selectedTeamId"
                (ngModelChange)="onTeamChanges()">
      <mat-option *ngFor="let boardKey of teams" [value]="boardKey">
        {{ config.boards[boardKey].displayName }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</ng-template>
