
mat-toolbar.navbar {
  position: relative;

  // top-most toolbar (with logo & navigation for desktop)
  mat-toolbar-row.primary-bar {
    object.logo {
      height: 42px;
      margin-right: 12px;
    }
    div.nav-buttons /deep/ button {
      margin: 0 6px;
    }
  }

  // second toolbar (shows up on mobile for navigation)
  mat-toolbar-row.secondary-bar {
    padding: 0;
    height: 36px;
    div.nav-buttons {
      width: 100%;
      /deep/ button {
        flex: 1;
      }
    }
  }

}

