

<mat-toolbar class="navbar" color="primary">

  <!-- primary toolbar (with logo & navigation for desktop) -->
  <mat-toolbar-row class="primary-bar">

    <object class="logo" data="assets/dlo/svg/hu-logo-small-white.svg" type="image/svg+xml"></object>
    <div class="nav-buttons desktop-only">
      <app-nav-items></app-nav-items>
    </div>

    <span class="flex-spacer"></span>

    <button mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>verified_user</mat-icon>
    </button>

  </mat-toolbar-row>


  <!-- second toolbar (shows up on mobile for navigation) -->
  <mat-toolbar-row class="secondary-bar mobile-only">

    <div class="nav-buttons">
      <app-nav-items></app-nav-items>
    </div>

  </mat-toolbar-row>


</mat-toolbar>
