$on-desktop: "(min-width: 768px)";
$on-mobile: "(max-width: 767px)";
$on-mobile-small: "(max-width: 599px)";

@import '../../../_variables';

div.navbar-spacing {
  padding-bottom: 64px;
  @media #{$on-mobile} {
    padding-bottom: 100px;
  }
  @media #{$on-mobile-small} {
    padding-bottom: 92px;
  }
}
mat-toolbar#navbar {
  position: fixed;
  z-index: 1;

  transition: box-shadow .24s;

  &.scrolled_down {
    box-shadow: $angular-card-box-shadow;
  }

  // styling for all toolbars (mobile & desktop)
  mat-toolbar-row {
    div.nav-buttons /deep/ button {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &.active {
        color: #ffffff;
        font-weight: bold;
      }
    }
  }
  // primary toolbar (with logo & navigation for desktop)
  mat-toolbar-row.primary-bar {
    object.logo {
      height: 42px;
      margin-right: 12px;
    }
    div.nav-buttons /deep/ button {
      margin: 0 6px;
      max-width: 168px; // for 3 menu items
      // todo: calculate somhow?
    }
  }

  // second toolbar (shows up on mobile for navigation)
  mat-toolbar-row.secondary-bar {
    padding: 0;
    height: 36px;



    div.nav-buttons {
      width: 100%;
      /deep/ button {
        flex: 1;
      }
    }
  }

}

