
<mat-toolbar id="navbar" color="primary" [class.scrolled_down]="scrollPosition > 0">

  <!-- primary toolbar (with logo & navigation for desktop) -->
  <mat-toolbar-row class="primary-bar">

    <object class="logo" data="assets/dlo/svg/hu-logo-small-white.svg" type="image/svg+xml"></object>
    <div class="nav-buttons desktop-only">
      <app-nav-items></app-nav-items>
    </div>

    <span class="flex-spacer"></span>

    <button mat-icon-button
            class="contact"
            (click)="dialog.showDialog('contact')"
            matTooltip="Contacteer ons">
      <mat-icon>mail</mat-icon>
    </button>

    <button mat-icon-button (click)="setTheme(false)">
      <mat-icon>wb_sunny</mat-icon>
    </button>
    <mat-slide-toggle (change)="setTheme($event.checked)"
                      [(ngModel)]="isDarkTheme"
                      [matTooltip]="'Schakel om naar een ' + (isDarkTheme ? 'licht' : 'donker') + ' thema'"></mat-slide-toggle>
    <button mat-icon-button (click)="setTheme(true)">
      <mat-icon>brightness_2</mat-icon>
    </button>

  </mat-toolbar-row>

  <!-- second toolbar (shows up on mobile for navigation) -->
  <mat-toolbar-row class="secondary-bar mobile-only">

    <div class="nav-buttons">
      <app-nav-items></app-nav-items>
    </div>

  </mat-toolbar-row>


</mat-toolbar>

<div class="navbar-spacing"></div>
