@import 'mixins';
@import 'variables';

/* defaults */
button {
  outline: none !important;
}
h1, h2, h3, h4, h4, h6, p {
  font-family: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* helpers */
.underline {
  text-decoration: underline;
}
.no-padding {
  padding: 0;
}
.padding {
  padding: 24px;
}
.no-margin {
  margin: 0;
}
.margin {
  margin: 24px;
}
.mt0 {
  margin-top: 0;
}
.cut-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.no-select {
  user-select: none;
}
.flex {
  display: flex;
}
.flex.space-between {
  justify-content: space-between;
}
.flex.align-items-center {
  align-items: center;
}
.flex-spacer {
  flex: 1 1 auto;
}

.mobile-only {
  display: none !important;
}
.desktop-only {
  display: initial !important;
}
@media (max-width: 767px) {
  .mobile-only {
    display: initial !important;
  }
  .desktop-only {
    display: none !important
  }
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.fg-white {
  color: #ffffff
}

/* for HTML parts that are used in multiple places */
span.help {
  cursor: pointer;
  text-decoration: underline;
}

/* for (background) images placement */
img.svg {
  position: absolute;
  &.right {
    bottom: -40px;
    right: 8px;
  }
  &.left {
    bottom: -150px;
    left: 8px;
  }
}
