<div class="container-fluid">
  <div class="row theme-bg">
    <div class="col-1 theme-bg">
      <h6>theme-bg</h6>
    </div>
    <div class="col-1 theme-card-bg">
      <h6>theme-card-bg</h6>
    </div>
    <div class="col-1 theme-fg">
      <h6>theme-fg</h6>
    </div>
    <div class="col-1 theme-bg-primary">
      <h6>theme-bg-primary</h6>
    </div>
    <div class="col-1 theme-fg-primary">
      <h6>theme-fg-primary</h6>
    </div>
    <div class="col-1 theme-bg-accent">
      <h6>theme-bg-accent</h6>
    </div>
    <div class="col-1 theme-fg-accent">
      <h6>theme-fg-accent</h6>
    </div>
    <div class="col-1 theme-bg-warn">
      <h6>theme-bg-warn</h6>
    </div>
    <div class="col-1 theme-fg-warn">
      <h6>theme-fg-warn</h6>
    </div>
  </div>
</div>

<mat-toolbar id="footer" color="primary">

  <mat-toolbar-row>
    <span>Column</span>
    <span class="flex-spacer"></span>
    <span>Column</span>
    <span class="flex-spacer"></span>
    <span>Column</span>
  </mat-toolbar-row>

</mat-toolbar>
