
<mat-toolbar id="footer" color="primary">
  <mat-toolbar-row>

    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <button mat-stroked-button
                  class="contact-button"
                  type="button"
                  (click)="dialog.showDialog('contact')">
            <span></span>
            <span class="cut-text">Neem contact op <span class="desktop-only">met een van de teams</span></span>
            <mat-icon>mail</mat-icon>
          </button>
        </div>
        <div class="col-12 col-md-6">
          <button mat-stroked-button
                  class="contact-button"
                  type="button"
                  (click)="dialog.showDialog('contact', { subject: 'Feedback: ' })">
            <mat-icon>feedback</mat-icon>
            <span class="cut-text">Feedback</span>
            <span></span>
          </button>
        </div>
        <div class="col-12 col-md-6">
          <button mat-stroked-button
                  class="contact-button"
                  type="button"
                  (click)="dialog.showDialog('contact', { subject: 'Request a feature: ' })">
            <span></span>
            <span class="cut-text">Request a feature</span>
            <mat-icon>add_comment</mat-icon>
          </button>
        </div>
        <div class="col-12 col-md-6">
          <button mat-stroked-button
                  class="contact-button"
                  type="button"
                  (click)="dialog.showDialog('contact', { subject: 'Aanmelding review' })">
            <mat-icon>supervisor_account</mat-icon>
            <span class="cut-text">Meld je aan voor de volgende review</span>
            <span></span>
          </button>
        </div>
      </div>
    </div>

  </mat-toolbar-row>
</mat-toolbar>

<!--
<div class="col-12 col-md-6">
  <button mat-raised-button
          class="contact-button"
          color="primary"
          type="button"
          (click)="dialog.showDialog('contact', { team: boardId, subject: 'Betreft user story: ' + cardData.title })">
    <mat-icon>mail</mat-icon> Neem contact op over deze user story
  </button>
</div>

<div class="col-12 col-md-6">
  <button mat-raised-button
          class="contact-button"
          color="accent"
          type="button"
          (click)="dialog.showDialog('contact', { team: boardId, subject: 'Aanmelding review' })">
    <mat-icon>supervisor_account</mat-icon> Meld je aan voor de volgende review
  </button>
</div>
-->
