<mat-list-item *ngIf="layout === 'row'"
               (click)="dialog.showDialog('card', { id: card.id })"
               [matTooltip]="tooltipCard"
               [matTooltipShowDelay]="1000"
               [style.boxShadow]="'8px 0 0 -4px ' + (card.color ? card.color : 'rgba(0,0,0,0)') + ' inset'"> <!-- todo: sanitize color value -->
  <h3 matLine>{{card.title}}</h3>
  <mat-progress-bar
    *ngIf="progress !== null && progress !== undefined"
    matLine
    mode="determinate"
    [value]="progress"
    color="accent"
    [matTooltip]="tooltipProgress"></mat-progress-bar>
  <p matLine>
    <span [matTooltip]="tooltipStories">
      <span>stories </span>
      <span *ngIf="(childCards | async) && (allChildCards | async); else loadingSmall" class="lighter">
        {{ (childCards | async)?.length }}
        {{ (childCards | async)?.length !== (allChildCards | async)?.length ? '(' + (allChildCards | async)?.length + ')' : '' }}
      </span>
    </span>
    <span>
      <mat-icon *ngIf="(childCards | async) && (allChildCards | async) && (childCards | async)?.length !== (allChildCards | async)?.length"
                class="help-small"
                [matTooltip]="tooltipStoriesHelp">help</mat-icon>
      </span>
    <span [matTooltip]="tooltipTasks">
      <span>, </span>
      <span>taken </span>
      <span *ngIf="tasks | async; else loadingSmall" class="lighter">{{(tasks | async)?.length }}</span>
    </span>
    <span>
      <span>, </span>
      <span>laatste activiteit </span>
      <span class="lighter" *ngIf="lastActivity; else loadingSmall">{{ lastActivity | beautifyDate }}</span>
    </span>
  </p>
  <div *ngIf="card.assignedUsers" class="avatars desktop-only">
    <img *ngFor="let user of card.assignedUsers | slice:0:5"
         [matTooltip]="user.fullName"
         [src]="user.avatar"
         (click)="$event.stopPropagation(); dialog.showDialog('person', { id: user.id })">
  </div>
  <button class="more" [matTooltip]="tooltipCardInfo" mat-icon-button>
    <mat-icon>info</mat-icon>
  </button>
  <mat-divider></mat-divider>
</mat-list-item>

<ng-template #loadingSmall>
  <app-loading type="spinner" [diameter]="14" [inline]="true" [verticalAlign]="'middle'"></app-loading>
</ng-template>
