<div class="content-container">

  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>info</mat-icon> Details
      </ng-template>
      Content 1
      <br>
      - Deze story is een onderdeel van ... bla bla
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>check</mat-icon> Bijbehorende taken
      </ng-template>
      Content 2
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>link</mat-icon> Bijbehorende stories
      </ng-template>
      Content 3
    </mat-tab>
  </mat-tab-group>

</div>
