<div class="content-container">

  <mat-tab-group class="theme-bg-on-tabs">


    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>info</mat-icon> Details
      </ng-template>

      <div class="container-fluid" *ngIf="card | async; else loading">

        <div class="row">
          <div class="col-12" *ngIf="(card | async)?.title">
            <span class="info">
              <span>Story titel</span>
              <span>{{ (card | async)?.title }}</span>
            </span>
          </div>
          <div class="col-12" *ngIf="(card | async)?.description">
            <span class="info" [class.collapsed]="descriptionCollapsed" #descriptionElement>
              <span>Story Omschrijving</span>
              <span class="description" [innerHTML]="(card | async)?.description"></span> <!-- todo: sanitize -->
              <button *ngIf="descriptionCollapsed" mat-flat-button type="button" class="show-more" (click)="expandDescription()">Weergeef omschrijving</button>
            </span>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <mat-divider class="with-margin"></mat-divider>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-6" *ngIf="(card | async)?.type">
            <span class="info">
              <span>Soort story</span>
              <span>
                <span class="color" [style.background-color]="(card | async)?.color"></span> <!-- todo: sanitize color value -->
                <span>[todo] epic</span>
                <span class="faded">({{ (card | async)?.type?.title }})</span>
              </span>
            </span>
          </div>
          <div class="col-12 col-md-6" *ngIf="(card | async)?.lane">
            <span class="info">
              <span>Story Categorie</span>
              <span>
                <span>[todo] backlog</span>
                <span class="faded">({{ (card | async)?.lane?.laneClassType }})</span>
              </span>
            </span>
          </div>
          <div class="col-12 col-md-6" *ngIf="(card | async)?.board">
            <span class="info">
              <span>Deze story maakt deel uit van het volgende bord</span>
              <span>
                <span>{{ boardId ? config.boards[boardId].displayName : 'Loading...' }}</span>
                <span class="faded">({{ (card | async)?.board?.title }})</span>
              </span>
            </span>
          </div>
          <div class="col-12 col-md-6" *ngIf="(card | async)?.priority">
            <span class="info">
              <span>Story prioriteit</span>
              <span>{{ (card | async)?.priority }}</span>
            </span>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <mat-divider class="with-margin"></mat-divider>
          </div>
        </div>

        <div class="row" *ngIf="(parentCards | async) && (parentCards | async)?.length">
          <div class="col-12">
            <span class="info">
              <span *ngIf="(parentCards | async)?.length === 1">Deze story maakt deel uit van een andere (bovenliggende) story.</span>
              <span *ngIf="(parentCards | async)?.length > 1">Deze story maakt deel uit van meerdere bovenliggende stories.</span>
            </span>
          </div>
          <div class="col-12">
            <mat-card class="no-padding">
              <mat-nav-list class="no-padding">
                <app-card *ngFor="let card of parentCards | async" [card]="card" [layout]="'row'"></app-card>
              </mat-nav-list>
            </mat-card>
          </div>
        </div>

        <div class="row" *ngIf="(parentCards | async) && (parentCards | async)?.length">
          <div class="col-12">
            <mat-divider class="with-margin"></mat-divider>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-6" *ngIf="(card | async)?.createdBy">
            <span class="info">
              <span>Gemaakt door</span>
              <span>
                <span class="person">
                  <img [src]="(card | async)?.createdBy?.avatar">
                </span>
                <span>{{ (card | async)?.createdBy?.fullName }}</span>
              </span>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="info">
              <span>Gemaakt</span>
              <span>{{ (card | async)?.createdOn | beautifyDate }}</span>
            </span>
          </div>
          <div class="col-12 col-md-6" *ngIf="(card | async)?.movedBy">
            <span class="info">
              <span>Als laatst verplaatst door</span>
              <span>
                <span class="person">
                  <img [src]="(card | async)?.movedBy?.avatar">
                </span>
                <span>{{ (card | async)?.movedBy?.fullName }}</span>
              </span>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="info">
              <span>Laatst verplaatst</span>
              <span>{{ (card | async)?.movedOn | beautifyDate }}</span>
            </span>
          </div>
          <div class="col-12 col-md-6" *ngIf="(card | async)?.updatedBy">
            <span class="info">
              <span>Als laatst aangepast door</span>
              <span>
                <span class="person">
                  <img [src]="(card | async)?.updatedBy?.avatar">
                </span>
                <span>{{ (card | async)?.updatedBy?.fullName }}</span>
              </span>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="info">
              <span>Laatst aangepast</span>
              <span>{{ (card | async)?.updatedOn | beautifyDate }}</span>
            </span>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <mat-divider class="with-margin"></mat-divider>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            gekoppelde gebruikers
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <mat-divider class="with-margin"></mat-divider>
          </div>
        </div>

        <div class="row">

          <div class="col-12 col-md-6">
            <button mat-stroked-button class="contact-button" color="primary" type="button">
              <mat-icon>mail</mat-icon> Neem contact op over deze story
            </button>
          </div>

          <div class="col-12 col-md-6">
            <button mat-stroked-button class="contact-button" color="accent" type="button">
              <mat-icon>supervisor_account</mat-icon> Meld je aan voor de volgende review
            </button>
          </div>

        </div>

      </div>
    </mat-tab>


    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>check</mat-icon> Bijbehorende taken
      </ng-template>

      <div class="container-fluid">
        <div class="row">
          <div class="col-12">

            <div class="flex space-between align-items-center">
              <mat-slide-toggle class="with-icon-next-to-it">Weergeef ook de taken van de onderliggende stories</mat-slide-toggle>
              <button type="button" mat-icon-button matTooltip="Wat word er bedoeld met onderliggende stories?">
                <mat-icon>help</mat-icon>
              </button>
            </div>

          </div>
          <div class="col-12">
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla

          </div>
        </div>
      </div>
    </mat-tab>


    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>link</mat-icon> Bijbehorende stories
      </ng-template>
      Content 3
    </mat-tab>


  </mat-tab-group>

</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
