<div class="content-container">

  <mat-tab-group class="theme-bg-on-tabs">


    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>info</mat-icon> Details
      </ng-template>

      <div class="container-fluid tab-1-container" *ngIf="card | async; else loading">

        <div class="row">
          <div class="col-12" *ngIf="(card | async)?.title">
            <span class="info">
              <span>Story</span>
              <span>{{ (card | async)?.title }}</span>
            </span>
          </div>
          <div class="col-12" *ngIf="(card | async)?.description">
            <span class="info" [class.collapsed]="descriptionCollapsed" #descriptionElement>
              <span>Omschrijving</span>
              <span class="description" [innerHTML]="(card | async)?.description"></span> <!-- todo: sanitize -->
              <button *ngIf="descriptionCollapsed" mat-flat-button type="button" class="show-more" (click)="expandDescription()">Weergeef omschrijving</button>
            </span>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <mat-divider class="with-margin"></mat-divider>
          </div>
        </div>

        <div class="row" *ngIf="data.info">
          <div class="col-12 col-md-6">
            <span class="info">
              <span>Categorie</span>
              <span>{{ data.info.lane ? data.info.lane : (card | async)?.lane ? (card | async)?.lane?.laneClassType : 'unknown' }}</span>
            </span>
          </div>
          <div class="col-12 col-md-6" *ngIf="(card | async)?.board">
            <span class="info">
              <span>Deze user story maakt deel uit van het volgende bord</span>
              <span>
                <span [matTooltip]="boardId ? config.boards[boardId].displayName : 'Loading...'">{{ (card | async)?.board?.title }}</span>
              </span>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="info">
              <span>Is deze user story een epic?</span>
              <span>{{ data.info.type === 'epic' ? 'Ja' : 'Nee' }}</span>
            </span>
          </div>
          <div class="col-12 col-md-6" *ngIf="(card | async)?.type">
            <span class="info">
              <span>Soort user story</span>
              <span>
                <span class="color" [style.background-color]="(card | async)?.color"></span> <!-- todo: sanitize color value -->
                <span>{{ (card | async)?.type?.title }}</span>
              </span>
            </span>
          </div>
          <div class="col-12 col-md-6" *ngIf="(card | async)?.priority">
            <span class="info">
              <span>Story prioriteit</span>
              <span>{{ (card | async)?.priority }}</span>
            </span>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <mat-divider class="with-margin"></mat-divider>
          </div>
        </div>

        <div class="row" *ngIf="(parentCards | async) && (parentCards | async)?.length">
          <div class="col-12">
            <span class="info">
              <span *ngIf="(parentCards | async)?.length === 1">Deze user story maakt deel uit van een andere (bovenliggende) user story.</span>
              <span *ngIf="(parentCards | async)?.length > 1">Deze user story maakt deel uit van meerdere bovenliggende stories.</span>
            </span>
          </div>
          <div class="col-12">
            <mat-card class="no-padding">
              <mat-nav-list class="no-padding">
                <app-card *ngFor="let card of parentCards | async" [card]="card" [extraInfo]="{ lane: data.info.lane, type: data.info.type }"></app-card>
              </mat-nav-list>
            </mat-card>
          </div>
        </div>

        <div class="row" *ngIf="(parentCards | async) && (parentCards | async)?.length">
          <div class="col-12">
            <mat-divider class="with-margin"></mat-divider>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-6" *ngIf="(card | async)?.createdBy as createdBy">
            <span class="info">
              <span>Aangemaakt door</span>
              <span class="pointer" (click)="dialog.showDialog('person', { user: createdBy })">
                <span class="person">
                  <img [src]="createdBy.avatar">
                </span>
                <span>{{ createdBy.fullName }}</span>
              </span>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="info">
              <span>Aangemaakt</span>
              <span>{{ (card | async)?.createdOn | beautifyDate }}</span>
            </span>
          </div>
          <div class="col-12 col-md-6" *ngIf="(card | async)?.movedBy as movedBy">
            <span class="info">
              <span>Als laatst verplaatst door</span>
              <span class="pointer" (click)="dialog.showDialog('person', { user: movedBy })">
                <span class="person">
                  <img [src]="movedBy.avatar">
                </span>
                <span>{{ movedBy.fullName }}</span>
              </span>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="info">
              <span>Laatst verplaatst</span>
              <span>{{ (card | async)?.movedOn | beautifyDate }}</span>
            </span>
          </div>
          <div class="col-12 col-md-6" *ngIf="(card | async)?.updatedBy as updatedBy">
            <span class="info">
              <span>Als laatst aangepast door</span>
              <span class="pointer" (click)="dialog.showDialog('person', { user: updatedBy })">
                <span class="person">
                  <img [src]="updatedBy.avatar">
                </span>
                <span>{{ updatedBy.fullName }}</span>
              </span>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <span class="info">
              <span>Laatst aangepast</span>
              <span>{{ (card | async)?.updatedOn | beautifyDate }}</span>
            </span>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <mat-divider class="with-margin"></mat-divider>
          </div>
        </div>

        <div class="row" *ngIf="(card | async)?.assignedUsers">
          <div class="col-12">
            <span class="info" [style.margin-bottom]="(card | async)?.assignedUsers.length ? 'auto' : '0'">
              <span *ngIf="!(card | async)?.assignedUsers.length">
                Er zijn nog geen medewerkers toegewezen aan deze user story
              </span>
              <span *ngIf="(card | async)?.assignedUsers.length">
                Hieronder staan de gebruikers die zijn toegewezen aan deze user story
              </span>
              <span class="person-container">
                <span *ngFor="let person of (card | async)?.assignedUsers"
                      class="pointer"
                      (click)="dialog.showDialog('person', { user: person })">
                  <span class="person">
                    <img [src]="person.avatar">
                  </span>
                  <span>{{ person.fullName }}</span>
                </span>
              </span>
            </span>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <mat-divider class="with-margin"></mat-divider>
          </div>
        </div>

        <div class="row" *ngIf="(card | async) as cardData">

          <div class="col-12 col-md-6">
            <button mat-raised-button
                    class="contact-button cut-text"
                    color="primary"
                    type="button"
                    (click)="dialog.showDialog('contact', { team: boardId, subject: 'Betreft user story: ' + cardData.title })">
              <mat-icon>mail</mat-icon>
              Neem contact op <span class="desktop-only">over deze user story</span>
            </button>
          </div>

          <div class="col-12 col-md-6">
            <button mat-raised-button
                    class="contact-button cut-text"
                    color="accent"
                    type="button"
                    (click)="dialog.showDialog('contact', { team: boardId, subject: 'Aanmelding review' })">
              <mat-icon>supervisor_account</mat-icon>
              Meld je aan voor de volgende review
            </button>
          </div>

        </div>

      </div>
    </mat-tab>


    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>check</mat-icon> Bijbehorende taken <span class="amount" *ngIf="allTasksFromCardAndAllChildCards | async"> ({{(allTasksFromCardAndAllChildCards | async)?.length }})</span>
      </ng-template>

      <div class="container-fluid tab-2-container" *ngIf="card | async; else loading">
        <div class="row">
          <div class="col-12" [style.display]="(allChildCards | async)?.length ? 'block' : 'none'">

            <div class="flex space-between align-items-center">
              <mat-slide-toggle class="with-icon-next-to-it" #taskToggle>
                Weergeef ook de taken van de onderliggende user stories
              </mat-slide-toggle>
              <button type="button"
                      mat-icon-button
                      matTooltip="Wat word er bedoeld met onderliggende stories?"
                      (click)="dialog.showDialog('help', { questionType: 'onderliggende user story' })">
                <mat-icon>help</mat-icon>
              </button>
            </div>

            <mat-divider class="with-margin" *ngIf="(allChildCards | async)?.length"></mat-divider>

          </div>
          <div class="col-12" *ngIf="(taskToggle.checked ? (allTasksFromCardAndAllChildCards | async) : (tasks | async)) as taskList">
            <div *ngIf="taskList; else loading">


              <h4 class="information" *ngIf="!taskList.length">
                Er zijn geen
                <span *ngIf="!taskToggle.checked">direct onderliggende</span>
                taken voor deze user story
                <span *ngIf="taskToggle.checked"> en de onderliggende stories</span>
              </h4>

              <mat-list>

                <h3 *ngIf="(taskList | filterOnKeyIsValue:'isDone':true).length" mat-subheader>Voltooide taken</h3>
                <mat-list-item *ngFor="let task of (taskList | filterOnKeyIsValue:'isDone':true)" [matTooltip]="task.title" matTooltipShowDelay="1000">
                  <mat-icon mat-list-icon>check_box</mat-icon>
                  <h4 mat-line>{{ task.title }}</h4>
                  <p mat-line>laatste activiteit: {{ task.updatedOn | beautifyDate }}</p>
                  <button *ngIf="task.containingCardId != cardId"
                          type="button"
                          mat-icon-button
                          matTooltip="Bekijk de bijbehorende user story"
                          (click)="dialog.showDialog('card', { id: task.containingCardId, info: { lane: data.info.lane, type: data.info.type } })">
                    <mat-icon>info</mat-icon>
                  </button>
                </mat-list-item>

                <mat-divider *ngIf="(taskList | filterOnKeyIsValue:'isDone':true).length && (taskList | filterOnKeyIsValue:'isDone':false).length" class="with-margin"></mat-divider>

                <h3 *ngIf="(taskList | filterOnKeyIsValue:'isDone':false).length" mat-subheader>Onvoltooide taken</h3>
                <mat-list-item *ngFor="let task of (taskList | filterOnKeyIsValue:'isDone':false)" [matTooltip]="task.title" matTooltipShowDelay="1000">
                  <mat-icon mat-list-icon>check_box_outline_blank</mat-icon>
                  <h4 mat-line>{{ task.title }}</h4>
                  <p mat-line>laatste activiteit: {{ task.updatedOn | beautifyDate }}</p>
                  <button *ngIf="task.containingCardId != cardId"
                          mat-icon-button
                          type="button"
                          matTooltip="Bekijk de bijbehorende user story"
                          (click)="dialog.showDialog('card', { id: task.containingCardId, info: { lane: data.info.lane, type: data.info.type } })">
                    <mat-icon>info</mat-icon>
                  </button>
                </mat-list-item>

              </mat-list>

            </div>
          </div>
        </div>
      </div>
    </mat-tab>


    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>link</mat-icon> Bijbehorende stories <span class="amount" *ngIf="allChildCards | async"> ({{ (allChildCards | async)?.length }})</span>
      </ng-template>

      <div class="container-fluid tab-3-container" *ngIf="card | async; else loading">
        <div class="row">
          <div class="col-12">

            <div class="flex space-between align-items-center">
              <h4 class="information" *ngIf="(allChildCards | async)?.length">Hieronder is een overzicht van de direct onderliggende user stories</h4>
              <h4 class="information" *ngIf="!(allChildCards | async)?.length">Deze user story heeft geen onderliggende user stories</h4>
              <button type="button"
                      mat-icon-button
                      matTooltip="Wat word er bedoeld met onderliggende stories?"
                      (click)="dialog.showDialog('help', { questionType: 'onderliggende user story' })">
                <mat-icon>help</mat-icon>
              </button>
            </div>

            <mat-divider class="with-margin" *ngIf="(childCards | async)?.length"></mat-divider>

          </div>
          <div class="col-12" *ngIf="childCards | async">
            <mat-card class="no-padding">
              <mat-nav-list class="no-padding">
                <app-card *ngFor="let card of childCards | async" [card]="card" [extraInfo]="{ lane: data.info.lane, type: data.info.type }"></app-card>
              </mat-nav-list>
            </mat-card>
          </div>
        </div>
      </div>

    </mat-tab>


  </mat-tab-group>

</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
