
<div class="background-sky"></div>

<div *ngIf="data$">
  <div *ngFor="let item of data$ | async"
       class="brick"
       style="
            font-family: Calibri, sans-serif;
            border: 1px solid #e8e8e8;
            margin: 12px;
            margin-bottom: 50px;
            border-radius: 20px;
            background: #f9f9f9;
            padding: 8px 24px;
       ">
    <h4>{{ item.title }} <small style="color: #aaa;margin-left: 16px">id: {{ item.id }} | userId: {{ item.userId }}</small></h4>
    <p>{{ item.body }}</p>
  </div>
</div>
