@import "../../../scss/helpers";

.background-sky {
  color: #fff;
  position: absolute;
  width: 100%;
  min-height: 480px;
  height: 80vh;
  max-height: 560px;
  box-sizing: border-box;
  -webkit-transform: skewY(8deg);
  transform: skewY(8deg);
  -webkit-transform-origin: 100%;
  transform-origin: 100%;
  margin-top: -50px;
  z-index: 0;
}

mat-nav-list.epics {
  > mat-list-item /deep/ div.mat-list-item-content {
    padding: 24px;
    .mat-list-text {
      h3 {
        font-size: 20px;
      }
      mat-progress-bar {
        margin: 6px auto;
      }
      p {
        span {
          font-weight: 500;
        }
        span.lighter {
          font-weight: 100;
          opacity: .7;
        }
      }
    }
    button.more {
      margin: auto 6px auto 12px;
    }
    div.avatars {
      height: 24px;
      white-space: nowrap;
      img {
        margin: 2px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }
    }
  }
}
mat-card > .button-container {
  text-align: right;
  button.more {
    margin: 24px;
  }
}
