
<ng-template #loadingBoards>
  <app-loading></app-loading>
</ng-template>

<ng-template #emptyBoardList>
  <div class="col-12 text-center padding">
    <h3 class="fg-white">Er moet minstens 1 team geselecteerd zijn om de voortgang te bekijken</h3>
  </div>
</ng-template>

<div class="background-sky theme-bg-primary">
  <img class="desktop-only svg right" src="assets/dlo/svg/man-rood.svg">
  <img class="desktop-only svg left" src="assets/dlo/svg/man-geel.svg">
</div>

<div class="container">
  <div class="row">
    <div class="col-12">

      <div *ngIf="boards | async; else loadingBoards">

        <div class="row">
          <div class="col-12 text-center">
            <h3 class="fg-white">Ik ben geïnteresseerd in de voortgang van de volgende teams</h3>
            <mat-card class="team-selector">
              <app-team-selector [placeholder]="'Teams'" (selectionChanged)="onTeamsChange()"></app-team-selector>
            </mat-card>
          </div>
        </div>

        <div *ngIf="(boards | async)?.length; else emptyBoardList">
          <div *ngFor="let board of boards | async; let boardsLoopIndex = index">

            <h1 [class]="!boardsLoopIndex ? 'fg-white': 'theme-fg'">{{ config.boards[board.id].displayName }}</h1>
            <app-card-list-with-container [board]="board"
                                          [type]="'epic'"
                                          [lane]="'doing'">
            </app-card-list-with-container>

          </div>
        </div>

      </div>

    </div>
  </div>
</div>

