@import '../../../scss/theme';

.background-sky {
  @include box-shadow(0 -26px 26px -26px rgba(0, 0, 0, .24) inset);
  color: #fff;
  position: absolute;
  width: 100%;
  min-height: 480px;
  height: 80vh;
  max-height: 560px;
  box-sizing: border-box;
  -webkit-transform: skewY(8deg);
  transform: skewY(8deg);
  -webkit-transform-origin: 100%;
  transform-origin: 100%;
  margin-top: -50px;
  z-index: 0;
  overflow: hidden;
  > img.svg {
    transform: skewY(-8deg);
  }
}

mat-card.team-selector {
  display: inline-block;
  padding: 16px 48px 0 48px;
  width: 100%;
  max-width: 600px;
  border-radius: 42px;
}

