@import "../../../scss/helpers";

.background-sky {
  @include box-shadow(0 -26px 26px -26px rgba(0,0,0,.24) inset);
  color: #fff;
  position: absolute;
  width: 100%;
  min-height: 480px;
  height: 80vh;
  max-height: 560px;
  box-sizing: border-box;
  -webkit-transform: skewY(8deg);
  transform: skewY(8deg);
  -webkit-transform-origin: 100%;
  transform-origin: 100%;
  margin-top: -50px;
  z-index: 0;
  overflow: hidden;
  > img.svg {
    position: absolute;
    transform: skewY(-8deg);
    &.right {
      bottom: -40px;
      right: 8px;
    }
    &.left {
      bottom: -150px;
      left: 8px;
    }
  }
}
mat-card {
  min-height: 300px;
  padding: 0;
  padding-bottom: 84px;


  > .button-container {
    position: absolute;
    text-align: right;
    bottom: 0;
    left: 0;
    right: 0;
    button.more {
      margin: 24px;
    }
  }
}
