@import '~@angular/material/theming';


$hu-dark-primary: mat-palette($mat-blue, 800);
$hu-dark-accent: mat-palette($mat-yellow, 700);
$hu-dark-warn: mat-palette($mat-red, 800);

$dark-theme: mat-dark-theme(
    $hu-dark-primary,
    $hu-dark-accent,
    $hu-dark-warn
);



