@import "app/scss/helpers";

@import "app/scss/theme";

@include angular-material-theme($light-theme);
@include custom-material-theme($light-theme);

app-root.hu-light-theme {
  @include angular-material-theme($light-theme);
  @include custom-material-theme($light-theme);
}
app-root.hu-dark-theme {
  @include angular-material-theme($dark-theme);
  @include custom-material-theme($dark-theme);
}

body {
  background: #f8f8f8;
  margin: 0;
}

/* --== routAnimation container ==-- */
main#routeAnimation{
  overflow-x: hidden; // prevent Collapsing margins (http://www.w3.org/TR/css3-box/#collapsing-margins)
  overflow-y: hidden; // prevent Scrollbar from showing when screen-height is too small
  position: relative;
  padding-bottom: 40px; // prevent box-shadows from being cut-off at he bottom
  & > *{
    display: block;
  }
}
