//@import "~@angular/material/prebuilt-themes/indigo-pink.css";


//@import 'theme-hu-light.scss';
//@import 'theme-hu-dark.scss';
@import '~@angular/material/theming';

@include mat-core();

$light-theme-primary: mat-palette($mat-blue, 600);
$light-theme-accent: mat-palette($mat-orange, 600);
$light-theme-warn: mat-palette($mat-red, 600);

$light-theme: mat-light-theme(
    $light-theme-primary,
    $light-theme-accent,
    $light-theme-warn
);



$dark-theme-primary: mat-palette($mat-green, 600);
$dark-theme-accent: mat-palette($mat-orange, 600);
$dark-theme-warn: mat-palette($mat-red, 600);

$dark-theme: mat-dark-theme(
    $dark-theme-primary,
    $dark-theme-accent,
    $dark-theme-warn
);


// @include angular-material-theme($light-theme);
app-root.theme-hu-light {
  @include angular-material-theme($light-theme);
}
app-root.theme-hu-dark {
  @include angular-material-theme($dark-theme);
}

body {
  background: #f8f8f8;
  margin: 0;
}

/* --== routAnimation container ==-- */
main#routeAnimation{
  overflow-x: hidden; // prevent Collapsing margins (http://www.w3.org/TR/css3-box/#collapsing-margins)
  position: relative;
  padding-bottom: 40px; // prevent box-shadows from being cut-off at he bottom
  & > *{
    display: block;
  }
}

/* defaults */
button {
  outline: none !important;
}


/* helpers */
.cut-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.no-select {
  user-select: none;
}
.flex-container {
  display: flex;
}
.flex-spacer {
  flex: 1 1 auto;
}
.mobile-only {
  display: none !important;
}
.desktop-only {
  display: initial !important;
}
@media (max-width: 767px) {
  .mobile-only {
    display: initial !important;
  }
  .desktop-only {
    display: none !important
  }
}
