@import "app/scss/helpers";

@import "app/scss/theme";

@include angular-material-theme($light-theme);
@include custom-material-theme($light-theme);

.cdk-overlay-container.hu-light-theme,
app-root.hu-light-theme {
  @include angular-material-theme($light-theme);
  @include custom-material-theme($light-theme);
}
.cdk-overlay-container.hu-dark-theme,
app-root.hu-dark-theme {
  @include angular-material-theme($dark-theme);
  @include custom-material-theme($dark-theme);
}

/** TEMP */
.cdk-overlay-container.hu-dark-theme .mat-primary .mat-pseudo-checkbox-checked, .cdk-overlay-container.hu-dark-theme .mat-primary .mat-pseudo-checkbox-indeterminate, app-root.hu-dark-theme .mat-primary .mat-pseudo-checkbox-checked, app-root.hu-dark-theme .mat-primary .mat-pseudo-checkbox-indeterminate {
  background: red;
}
.cdk-overlay-container.hu-dark-theme .mat-primary .mat-option.mat-selected:not(.mat-option-disabled), app-root.hu-dark-theme .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: red
}
/** /TEMP */

body {
  background: #f8f8f8;
  margin: 0;
}

/* --== routAnimation container ==-- */
main#routeAnimation{
  overflow-x: hidden; // prevent Collapsing margins (http://www.w3.org/TR/css3-box/#collapsing-margins)
  overflow-y: hidden; // prevent Scrollbar from showing when screen-height is too small
  position: relative;
  padding-bottom: 40px; // prevent box-shadows from being cut-off at he bottom
  & > *{
    display: block;
  }
}
